.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.form-container {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  width: 300px;
  color: #fff;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #333;
  color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
  transition: background-color 0.3s, color 0.3s;
}

.form-toggle button:hover {
  background-color: #555;
}

.form-toggle .active {
  background-color: #007bff;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 10px;
  color: #fff;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #222;
  color: #ddd;
  transition: border-color 0.3s;
}

.form input:focus {
  border-color: #007bff;
  outline: none;
}

.form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.form a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
  transition: color 0.3s;
}

.form a:hover {
  color: #0056b3;
}

.form p {
  text-align: center;
  color: #ddd;
}

.role-selection {
  margin: 10px 0;
}

.role-selection label {
  margin-right: 10px;
  color: #ddd;
}

.error-text {
  color: #ff4d4d;
  font-size: 0.85em;
  margin-top: 5px;
}
