.title {
  text-align: center;
}

.home-button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  padding: 8px 40px;
  transition: transform 0.2s;
  display: block;
  margin: auto;
}

.home-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-color: #646cff;
}
.home-text {
  color: aliceblue;
  text-decoration: none;
}
