.manage-event-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #00aaff;
}

.delete-button {
  background-color: red;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
